@tailwind base;
@tailwind components;
@tailwind utilities;

/* Editorjs */
h1.ce-header {
  font-size: 2em;
  font-weight: bold;
}

h2.ce-header {
  font-size: 1.5em;
  font-weight: bold;
}

h3.ce-header {
  font-size: 1.17em;
  font-weight: bold;
}

h4.ce-header {
  font-size: 1em;
  font-weight: bold;
}

h5.ce-header {
  font-size: 0.83em;
  font-weight: bold;
}

h6.ce-header {
  font-size: 0.67em;
  font-weight: bold;
}
